<%= link_to "Article App", articles_path %>

<h1>Home Page of My Rails App </h1>

<%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Rails.svg/1024px-Rails.svg.png", :alt => "rss feed") %>