<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://myarticleapp.herokuapp.com"> My RoR Assignement </a>
			By <a href="https://twitter.com/Siavash_Rad"> Siavash Rad</a>
		</small>
		<nav>
			<ul>
				<li> <%= link_to "About", "#" %> </li>
			</ul>
		</nav>
	</footer>
</div>